{% extends "base.html" %}


{% block content %}

<p><b>In :</b> {{detailcontext.revenue_account_name}}</p>
<p><b>From :</b> {{detailcontext.customer}}</p>
<p><b>Transaction date :</b> {{detailcontext.transaction_date}}</p>
<p><b>Invoice received :</b> {{detailcontext.invoice_amount_euro}}</p>
<p><b>Revenue Earned :</b> {{detailcontext.revenue_charged_euro}}</p>
<p><b>Cost of good :</b> {{detailcontext.cost_of_goods_euro}}</p>
<p><b>Operational costs :</b> {{detailcontext.operational_costs_euro}}</p>


{% endblock %}



